.cards {
    display: flex;
    flex-direction: column;
    padding: @unit2;
    gap: 2rem;
    align-items: center;
    .card {
        position: relative;
        transition: transform 0.3s ease-in-out;

        &:hover {
            transform: scale(1.05);
        }

        img {
            width: 100%;
            max-width: 90vw;
            height: auto;
            object-fit: cover;
            border-radius: 15px;
            .shadow();
        }

        span {
            font-size: 1.2rem;
            text-align: center;
            border-radius: 15px;
            border-top-left-radius: 0px;
            border-top-right-radius: 0px;
            position: absolute;
            width: 100%;
            background-color: @secondary-background-color;
            color: #fff;
            bottom: 0;
            left: 0;
            .p-x-4();
            .p-y-3();
            .shadow2();
        }
    }
}

@media (min-width: @tablet) {
    .cards {
        padding-left: @unit4;
        padding-right: @unit4;
        gap: 3rem;

        .card {
            img {
                max-width: 80vw;
                height: 450px;
            }
        }
    }
}

@media (min-width: @desktop) {
    .cards {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: start;
        padding: @unidad1;
        gap: 5rem;

        .card {
            img {
                width: 550px;
                height: 500px;
            }

            span {
                font-size: 1.5rem;
            }
        }
    }
}