.cine-footer {
  background-color: @tertiary-background-color;
  color: @tertiary-text-color;
  padding: 30px 0 10px;
  font-family: 'Arial', sans-serif;

  .cine-footer-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
    }

    .cine-footer-section {
        flex: 1 1 250px;

        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            li {
                margin-bottom: 8px;
            }
        }

        a {
            color: @secondary-text-color;
            text-decoration: none;
            transition: color @transition-font-hover;
        }

        a:hover {
            color: @tertiary-text-color;
        }

        .cine-redes li {
            display: inline;
            margin-right: 15px;
        }
    }

    .cine-footer-bottom {
        text-align: center;
        margin-top: 20px;
        font-size: 0.9em;
        color: @primary-text-color;
    }
}
