* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body{
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: #B4A194;
}

main {
    flex: 1;
}


@import "variables.less";
@import "cards.less";
@import "half-inverted-panel.less";
@import "footer.less";
@import "hero-panel.less";