@primary-background-color: #a47864;
@primary-text-color: #333;

@secondary-background-color: #6490a4;
@secondary-text-color: #333;

@tertiary-background-color: #64a47b;
@tertiary-text-color: #333;

@unidad1: 1rem;
@unit8: 2rem;
@unit5: 1.5rem;
@unit4: 1rem;
@unit3: 0.8rem;
@unit2: 0.5rem;
@unit1: 0.25rem;


.p-x-4 {
    padding-left: @unit4;
    padding-right: @unit4;
}
.p-y-4 {
    padding-top: @unit4;
    padding-bottom: @unit4;
}

.p-x-3 {
    padding-left: @unit3;
    padding-right: @unit3;
}
.p-y-3 {
    padding-top: @unit3;
    padding-bottom: @unit3;
}

.imgCover {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.shadow {
    box-shadow: 3px 3px 5px darken(@primary-background-color, 20%);
}